<!-- Stocks list table, it hides when there is no Order -->
<!--<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="center">
		<thead>
		  <tr>
		  	<th scope="col">Order Id</th>
			<th scope="col">Ticker</th>
			<th scope="col">DateTime</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Type</th>
            <th scope="col">StatusCode</th>
			
		  </tr>
		</thead>
		<tbody>
		  <tr >
		  	<td>{{Stocks.id}}</td>
			<td>{{Stocks.stockTicker}}</td>
			<td>{{Stocks.datetime}}</td>
            <td>{{Stocks.price}}</td>
            <td>{{Stocks.volume}}</td>
            <td>{{Stocks.buyOrSell}}</td>
            <td>{{Stocks.statusCode}}</td>
            
			
		  </tr>
		</tbody>
	  </table>-->
		

<mat-toolbar color="accent">
  Ticker : {{Stocks.stockTicker}}
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<br>
<br>

<mat-dialog-content>
  
  <div class="form-group" style="padding-left: 20px;">
   <table class="center" id="stocks">
		<thead>
		  <tr>
		  	<th scope="col">Order Id</th>
			<th scope="col">DateTime</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Type</th>
            <th scope="col">StatusCode</th>
			
		  </tr>
		</thead>
		<tbody>
		  <tr >
		  	<td>{{Stocks.id}}</td>
			<td>{{Stocks.datetime}}</td>
            <td>{{Stocks.price}}</td>
            <td>{{Stocks.volume}}</td>
            <td>{{Stocks.buyOrSell}}</td>
            <td>{{Stocks.statusCode}}</td>
            
			
		  </tr>
		</tbody>
	  </table>
  </div>
</mat-dialog-content>

<br>
<br>
<div class="ui-inputgroup ">
	  <a href="/cart"  mat-button class="Submit" >Back</a>
	</div>