$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #c7b0ee;
$background-pale: #D1C4E9;
$background-moredark: #020d1198;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 500px;
}

.active {
    background: $background-moredark ;
}

p {
    font-family: 'Oxygen', sans-serif;
    color: #000;
}


body {
    padding: 0;
    margin: 100;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    color: #000;
}

.mat-toolbar.mat-primary {
    background: #1a7daa;
    color: #fff;
}