<!-- Stocks list table, it hides when there is no Order -->
<div>
	<div class="col-md-12">
	  <table class="table table-bordered center" id="stocks">
		<thead>
		  <tr>
		  	<th scope="col">Last Close</th>
			<th scope="col">Upper Band</th>
			<th scope="col">Lower Band</th>
            <th scope="col">Advice</th>
        
		  </tr>
		</thead>
		<tbody>
		  <tr >
		  	<td>{{advice.lastClose}}</td>
			<td>{{advice.upperBand}}</td>
			<td>{{advice.lowerBand}}</td>
            <td>{{advice.advice}}</td>
			
		  </tr>
		</tbody>
	  </table>		
	</div>
</div>



<br>
<br>
<div class="ui-inputgroup ">
	  <a href="/cart"  mat-button class="Submit" >Back</a>
	</div>