.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  input.mat-input-element {
    color: white;
  }


  .mat-dialog-content {
    padding: 10px !important;
}

.mat-toolbar.mat-primary {
  background: #1a7daa;
  color: #fff;
}