<!-- Stocks list table, it hides when there is no Order -->
<h2 class="text">Stocks Order History</h2>
<br>
<br>
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="center" id="stocks">
		<thead>
		  <tr>
		  <th style="" scope="col">Order Id</th>
			<th scope="col">Ticker</th>
			<th scope="col">DateTime</th>
			<th scope="col">Details</th>
			<th scope="col">Advice</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stocks of Stocks">
		  	<td>{{stocks.id}}</td>
			
			<td>{{stocks.stockTicker}}</td>
			<td>{{stocks.datetime}}</td>
			<td>
				<button mat-button (click) = "getStockById(stocks.id)" class= "view">View</button>
			</td>
			<td>
				<button mat-button (click) = "getAdvice(stocks.stockTicker)" class= "view">Advice</button>
			</td>
		  </tr>
		</tbody>
	  </table>
		
		

			  
			
	</div>
</div>
<br>
<br>


