.center {
  margin-left: 15%;
  border: 10px;
  border-color: black;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr {
    text-align: center;
}

.text{
  text-align: center;
}

#stocks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#stocks td, #stocks th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stocks tr:nth-child(even){background-color: #f2f2f2;}

#stocks tr:hover {background-color: #ddd;}

#stocks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a7daa;
  color: white;
}
.view{
  background-color: #13a7e298;
}