<h2 class="text">Holdings </h2>
<br>
<br>
<div>
	<div class="col-md-12">
	   <table class="center" id="stocks">
		<thead>
		 <tr>
		    <th scope="col">Ticker </th>
			<th scope="col">DateTime</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
            
            
			
		  </tr>
		</thead>
		<tbody>
		  <tr  *ngFor="let port of PortfolioItem">
		  	<td>{{port.stockTicker}}</td>
			<td>{{port.datetime}}</td>
            <td>{{port.price}}</td>
            <td>{{port.volume}}</td>
            
            
			
		  </tr>
		</tbody>
	  </table>
		
		

			  
			
	</div>
</div>
<br>
<br>


