	<h3 class="Title">Order Stocks</h3>
<br>
<div class="Center" style="width: 60%; margin: 0px auto;">
<div class="ui-inputgroup  DropdownText">
      <label for="stonks">Ticker Name: &nbsp; &nbsp;</label>
      <select class="form-control dropdown" [(ngModel)]="stockdetails.stockTicker" >
        <option value="AMZN">AMZN</option>
        <option value="SHC">SHC</option>
		<option value="INFY">INFY</option>
        <option value="ABNB">ABNB</option>
        <option value="MMYT">MMYT</option>
        <option value="REV">REV</option>
		<option value="AFT">AFT</option>
        <option value="GENC">GENC</option>
        <option value="HPQ">HPQ</option>
        <option value="NVDA">NVDA</option>
		<option value="TSM">TSM</option>
        <option value="AMAT">AMAT</option>
          <option value="GOOGL">GOOGL</option>


      </select>
&nbsp;&nbsp;
      	<div class="form-group">
	  <button  class="Submit1" (click)="getPrice()">OK</button>
    
	</div>
 	</div>



<div  class="ui-inputgroup  DropdownText">
    Enter Volume: &nbsp;
    <input type="text" class="BoxText"  [(ngModel)]="stockdetails.volume" pInputText placeholder="Enter number of Stocks">       
 </div>


 <div  class="ui-inputgroup  DropdownText">
    Strike Price: &nbsp; 
    <input type="text" style=" margin-left: 24px" [(ngModel)]="stockdetails.price" pInputText placeholder="Enter number of Stocks" value={{advice.lastClose}} class="form-control" >       
 </div>

 

<div class="ui-inputgroup  DropdownText" >
      <label for="stonks">Buy Or Sell: &nbsp;</label>
      <select class="form-control" [(ngModel)]="stockdetails.buyOrSell" style="margin-left: 22px;width:173px">
        <option value="BUY">BUY</option>
        <option value="SELL">SELL</option>
        </select>
 	</div> 

 

<br>
<br>
 <div class="ui-inputgroup ">
	  <button mat-button class="Submit" (click)="addStocks()">Order Stocks</button>
	</div>

</div>






