.ui-inputgroup {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.Title{
    margin-left:40%;
    font-size: 36px;
}
.dropdown{
    width:173px;
    border-radius: 5px;
}
.DropdownText{
    background-color: rgba(108, 122, 145, 0.432);
    height: 50px;
    font-size: 24px;
    font-family:'emoji';
    margin-left: -2px;
}   
.BoxText{
    // height: 60px;
    border-radius: 5px;
    margin-left: 4px;
}
.Submit{
    background-color: rgba(59, 133, 243, 0.747);
}

.Submit1{
    background-color: rgba(59, 133, 243, 0.747);
    height: 20px;
    font-size: 10px;
    align-items: center;
}

.input1 {
    padding-left: 2000 px;
    width: 100px;
}

.BoxText1 {

    margin-left: 10px;
}

