

<div class="container jumbotron"
   
fxLayout="row"
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">

<div fxFlex fxFlex.gt-sm="50%">
  <h1>Smart investors ,</h1> 
  <h1>made smarter with every trade !!</h1>
  <p>If you’re passionate about investing, you’re in the right place. From experienced associates to industry-leading education and technology, we provide the knowledge you need to become an even smarter investor.

</p>
</div>
<div>
  <img [src] ="ImagePath" 
          style="width: 700px;height: 450px; margin-left: 50px">
</div>

<div fxFlex></div>
          
</div>



  <div style="width:100%; height: 500px; text-align:center;margin:0; padding:0;" > 
    <ng-image-slider #nav
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="1"
      [imageSize]="{width: '100%', height: 500}"
      slideImage="1"></ng-image-slider>
  </div>